@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;800&display=swap');

.page-product {
  font-family: Inter, sans-serif;
  color: #111111;
  padding-bottom: 60px;

  &__row {
    display: flex;
    padding-top: 65px;
  }

  &__size-box {
    display: flex;
    align-items: center;
  }

  &__add-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
    padding-top: 25px;
    padding-bottom: 50px;
  }

  &__price-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
  }

  &__img-box {
    text-align: center;
    flex-basis: 50%;
  }

  &__img {
    display: inline;
    max-height: 65%;
    max-width: 65%;
  }

  &__product-data {
    flex-basis: 50%;
  }

  &__stock {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #1FD85D;
  }

  &__title {
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    padding: 10px 0;
  }

  &__icon {
    margin-right: 5px;
    line-height: 0;

    &_button {
      margin-right: 0;
      margin-left: 12px;
    }

    &_link {
      margin: 0;
      padding: 28px;
    }
  }

  &__info {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #3F4E65;
    max-width: 25em;
    text-align: center;
  }

  &__price {
    font-size: 30px;
    font-weight: 800;
    line-height: 39px;
  }

  &__button {
    background: #FFFFFF;
    color: #3F4E65;
  }

  &__property-box {
    padding-top: 20px;

    &_description {
      padding: 30px 0 20px;
    }

    &__list {
      padding-top: 15px;
    }

    &__subtitle {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }

    &__property {
      font-size: 14px;
      font-weight: 300;
      line-height: 21px;
      color: #3F4E65;
      padding-top: 5px;
    }
  }

  &__border {
    width: 50%;
    height: 0;
    border-bottom: 1px dashed #3F4E65;
  }

}