@import "../../../styles/styles.scss";

.page-catalog {
  font-family: Inter, sans-serif;
  color: #111111;
  white-space: nowrap;
  padding-bottom: 102px;

  &__row {
    display: flex;
    align-items: center;
    padding-top: 50px;
  }

  &__box-row {
    display: flex;
    align-items: center;
  }

  &__category-menu {
    display: flex;
    align-items: center;
    padding-top: 25px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    color: #3F4E65;
    white-space: normal;
  }

  &__title {
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    flex-grow: 1;
  }

  &__sort {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  &__select {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #3F4E65;
    padding: 0 5px;
    appearance: none;
  }

  &__category {
    padding: 15px 18px;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 198, 80, 0.3);
      border-radius: 5px;
    }

    &_active {
      background-color: #FFC85E;
      border-radius: 5px;
    }
  }

  &__filters {
    margin-right: 7%;
    align-self: start;

    &__title {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      margin-bottom: 15px;
    }

    &__subtitle {
      font-size: 14px;
      font-weight: 300;
      line-height: 21px;
      color: #3F4E65;
    }

    &__coin {
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
      padding-left: 5px;
    }

    &__price-filter {
      padding-top: 16px;
    }

    &__check-box {
      display: flex;
      flex-direction: column;
      padding: 15px 0;
    }

    &__check {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      color: #3F4E65;
      padding-top: 5px;

      & input {
        width: 10px;
        height: 10px;
        border: 0.5px solid #3F4E65;
        margin-right: 10px;
      }
    }

    &__category {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      color: #3F4E65;
      padding: 5px 0;
      cursor: pointer;

      &:hover {
        background-color: rgba(255, 198, 80, 0.3);
        border-radius: 5px;
      }

      &_active {
        background-color: #FFC85E;
        padding-left: 5px;
        border-radius: 5px;
      }
    }

    &__show {
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
      color: #3F4E65;
      padding-right: 5px;
    }
  }

  &__price-filter-box {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__filter-box {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__pages-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    gap: 14px;

    &__page {
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      color: #3F4E65;
      padding: 8px 14px;

      &_current {
        background-color: rgba(255, 198, 80, 0.3);
        border-radius: 50%;
      }
    }
  }

  &__products {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  &__product-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: normal;
    padding: 30px;

    &__img-box {
      height: 194px;
      text-align: center;
      margin-bottom: 4px;
    }

    &__img {
      display: inline;
      max-height: 100%;
      max-width: 100%;
    }

    &__icon {
      line-height: 0px;
    }

    &__size {
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      color: #3F4E65;
      margin-left: 8px;
    }

    &__name {
      font-size: 16px;
      font-weight: 500;
      line-height: 21px;
      padding: 10px 0 20px;
    }

    &__price {
      font-size: 16px;
      font-weight: 800;
      line-height: 21px;
      width: 150px;
    }

    &__list {
      margin: 20px 0 15px;
    }

    &__item {
      font-size: 14px;
      font-weight: 300;
      line-height: 21px;
      color: #3F4E65;
    }
  }

  &__button-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
  }

  &__button-icon {
    padding: 21px;
    margin-left: 10px;
  }

  &__icon {
    line-height: 0;
  }
}

@media (max-width: 620px) {

  .page-catalog__row {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }

  .page-catalog__filters {
    margin: 0;
  }

  .page-catalog__category-menu {
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }

  .page-catalog__product-box,
  .page-catalog__catalog-box {
    width: 100%;
    padding: 0;
  }

  .page-catalog__products {
    margin: 0;
    gap: 20px;
  }

  .page-catalog__category {
    padding: 5px 0;

    &_active {
      padding: 5px;
    }
  }
}

@media (min-width: 1024px) {
  .page-catalog__product-box {
    width: 50%;
  }
}

@media (min-width: 1500px) {
  .page-catalog__product-box {
    width: calc(100%/3);
  }
}