.container {
  padding: 0 15%;
}

@media (min-width: 1024px) {
  .container {
    padding: 0 4%;
  }
}

@media (min-width: 1400px) {
  .container {
    padding: 0 7%;
  }
}

@media (min-width: 1800px) {
  .container {
    padding: 0 15%;
  }
}