@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

.input-box {
  position: relative;
  width: 100%;

  &__button {
    position: absolute;
    padding: 13px;
    top: 10px;
    right: 10px;
    background: #FFC85E;
    border-radius: 40px;
    line-height: 0;
  }

  &__input {
    padding-right: 60px;
  }
}