@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.counter {
  display: flex;
  align-items: center;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  color: #3F4E65;
  white-space: nowrap;

  &__button {
    padding: 4px 14px;
    background: rgba(255, 198, 80, 0.3);
    border-radius: 40px;
  }

  &__count {
    padding: 0 17px;
  }
}