@import "../../../styles/styles.scss";

.page-basket {
  font-family: Inter, sans-serif;
  color: #111111;
  padding-bottom: 50px;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    border-bottom: 1px dashed #3F4E65;

    &_noline {
      border: 0;
      justify-content: space-between;
    }
  }

  &__box-row {
    display: flex;
  }

  &__product-data {
    word-wrap: break-word;
    overflow: hidden;
  }

  &__price-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 33%;
    max-width: 33%;
  }

  &__title {
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;

    &_empty {
      padding-top: 50px;
    }
  }

  &__product-box {
    display: flex;
    min-width: 65%;
    max-width: 65%;
    align-items: center;

    &__img-box {
      text-align: center;
      height: 191px;
      width: 281px;
      min-width: 281px;
      margin-right: 20px;
    }

    &__img {
      display: inline;
      max-height: 100%;
      max-width: 100%;
    }

    &__size {
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      color: #3F4E65;
      margin-left: 8px;
    }

    &__name {
      font-size: 30px;
      font-weight: 700;
      line-height: 36px;
    }

    &__description {
      font-size: 12px;
      font-weight: 300;
      line-height: 18px;
      color: #3F4E65;
      padding-top: 10px;
    }
  }

  &__price {
    font-size: 30px;
    font-weight: 700;
    line-height: 39px;
  }

  &__button {
    padding: 20px;
  }

  &__button {
    line-height: 0;
  }
}

@media (max-width: 1024px) {

  .page-basket__product-box {
    flex-direction: column;
    align-items: start;
    gap: 10px;
    min-width: 50%;
    max-width: 50%;
  }

  .page-basket__price-box {
    min-width: 48%;
    max-width: 48%;
  }
}

@media (max-width: 800px) {

  .page-basket__row,
  .page-basket__product-box,
  .page-basket__price-box {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .page-basket__product-box__img-box {
    width: 100%;
    margin: 0;
  }

  .page-basket__product-box,
  .page-basket__product-data {
    min-width: 100%;
    max-width: 100%;
  }
}