@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');


.circle {
  position: absolute;
  top: -7px;
  right: -7px;
  height: 22px;
  width: 22px;
  background: #FFC85E;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}

.page-header {
  font-family: Inter, sans-serif;
  color: #3F4E65;

  &__container {
    border-bottom: 1px solid rgba(63, 78, 101, 0.2);
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_menu {
      padding: 14px 0;
    }

    &_logo {
      padding: 24px 0;
    }
  }

  &__box {
    display: flex;

    &_shrink {
      flex-basis: 27%;
    }
  }

  &__contact,
  &__price {
    display: flex;
    align-items: center;
    white-space: nowrap;

    &__icon {
      line-height: 0;
      margin-right: 18px;
      position: relative;
    }
  }

  &__contact {

    &_indent {
      margin-left: 41px;
    }

    &__data {
      &_right {
        text-align: right;
      }
    }

    &__title {
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
      color: #111111;
    }

    &__subtitle {
      font-size: 12px;
      font-weight: 300;
      line-height: 16px;
    }

    &__link {
      font-family: Inter, sans-serif;
      font-size: 10px;
      font-weight: 400;
      line-height: 15px;
      padding-top: 5px;
      color: #3F4E65;
      text-decoration: underline;
    }

    &__img-box {
      margin-left: 10px;
    }

    &__img {
      border-radius: 40%;
    }
  }

  &__icon {
    margin-left: 12px;
    line-height: 0;
  }

  &__menu {
    flex-basis: 35%;
    display: flex;
    justify-content: space-between;

    &__link {
      font-family: Inter, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      color: #3F4E65;
      white-space: nowrap;
    }
  }

  &__input-box {
    margin-left: 2%;
  }
}

@media (min-width: 1024px) {
  .page-header__menu {
    flex-basis: 40%;
  }
}

@media (min-width: 1400px) {
  .page-header__menu {
    flex-basis: 35%;
  }
}

@media (min-width: 1900px) {
  .page-header__menu {
    flex-basis: 33%;
  }
}