@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');

.bread-crumbs {
  display: flex;
  padding-top: 45px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #3F4E65;
  margin-left: -10px;

  &__prev {
    padding: 0 10px;
    border-right: 1px dashed #3F4E65;
  }

  &__page {
    padding-left: 10px;
    opacity: 0.5;
  }
}